{% extends "layout.html" %}
{% block title %}Instructor Update{% endblock %}
{% block content %}

<div class="col-sm">
    <form method="post" action="/instructor_update" id="instructor_update"> <!-- INSTRUCTOR CREATION FORM -->
        <div class="form-group">
            <input type="hidden" class="form-control" name="id" type="text" value="{{instructor.instructor_id}}">
        </div>
        <div class="form-group">
            <a>Name: </a><input class="form-control" name="name" type="text" value="{{instructor.name}}"> <br/>
        </div>
        <div class="form-group">
            <a>Bachelor: </a><input class="form-control" name="bachelors" type="text" value="{{instructor.bachelors}}"> <br/>
        </div>
        <div class="form-group">
            <a>Master: </a><input class="form-control" name="masters" type="text" value="{{instructor.masters}}"> <br/>
        </div>
        <div class="form-group">
            <a>Doctorate: </a><input class="form-control" name="doctorates" type="text" value="{{instructor.doctorates}}"> <br/>
        </div>
        <div class="form-group">
            <label for="department">Department</label>
            <select class="form-control" name="department">
                <option value={{instructor.department}}>{{instructor.department}}</option>
            {% for dep in departments %}
                <option value="{{ dep[0] }}">{{ dep[1] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="room">Room</label>
            <select class="form-control" name="room">
                <option value={{instructor.room}}>{{instructor.room}}</option>
            {% if rooms %}
                {% for room in rooms %}
                    <option value="{{ room["ID"] }}">{{ room["ID"], room["Name"] }}</option>
                {% endfor %}
            {% endif %}
            </select>
        </div>
        <div class="form-group">
            <a>Lab (if any): </a>
            <select class="form-control" name="lab">
                {% if instructor.lab == None %}
                    <option value="">-</option>
                {% else %}
                    <option value={{instructor.lab}}>{{instructor.lab}}</option>
                {% endif %}
                {% for lab in labs %}
                      <option value={{lab[0]}}>{{lab[1]}}</option>
                {% endfor %}
                <option value="">-</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" name="instructor">Update</button>
        </div>
    </form>
</div>
{% endblock %}